{% extends "ips_base.twig" %}

{% block head %}
{% endblock %}

{% block inner %}

<div class="ips__ignore">
  {% if message %}
    <p class="ips__message">{{ message }}</p>
  {% endif %}

  <h2 class="ips__clear-top">IPS ポイント加算対象外リスト</h2>
  <p>
  ここで設定しているユーザーはポイントが加算されません
  </p>
  <div class="ips__ignore-list">

{% if loggedin %}
  <h3>デフォルト対象外ユーザー</h3>
  <ul>
    <li>frostytoolsdotcom</li>
    <li>ips_online</li>
    <li>nightbot</li>
    <li>sery_bot</li>
    <li>streamelements</li>
    <li>wizebot</li>
  </ul>
  
  <h3>追加の対象外ユーザー</h3>
  <ul class="ips__ignore-list-ul">
    {% for ignore in ignoreList %}
      <li>
        <a href="#" class="ips__ignore-delete" data-login="{{ ignore.login }}">{{ ignore.login }}</a>
      </li>
    {% endfor %}
  </ul>
  
  <h3>対象外ユーザーの追加</h3>
  <p>
  <form method="post" class="ips__ignore-form">
    <input type="hidden" name="action" value="add">
    <label><input type="text" name="login" placeholder="Twitchのアカウントを入力" required></label> <button type="button" class="ips__ignore-add">追加</button>
  </form>
  </p>

{% else %}
    <p>
      <a href="{{ oauthUrl }}">こちらのリンク</a>からログインおよびIPS Onlineに対する認可を行ってください。<br>
      既に認可済みの場合はログインの有効期限が切れているため↑のリンクから再ログインしてください。
    </p>
{% endif %}
  </div>
</div>

{% endblock %}
