{% extends "ips_base.twig" %}

{% block head %}
{% endblock %}

{% block inner %}

<div class="ips__information">
  <h2 class="ips__clear-top">おしらせ・更新情報</h2>
  <ul>
    <li>2025/05/06: レイドによるポイント付与機能追加</li>
    <li>2025/04/25: ポイント編集機能追加</li>
    <li>2025/04/20: 設定変更機能追加</li>
    <li>2025/04/17: β版公開</li>
  </ul>

  <h2>今後の機能追加予定</h2>
  <ul>
    <li>(仕様検討中) cheerによるポイント付与機能、サブスクギフトによるポイント付与機能</li>
    <li>(追加予定) ポイント付与対象外ユーザーリストの編集機能</li>
    <li>(追加予定) チャット欄にて特定のユーザーのポイントを増減させるコマンド(配信者のみ使用可)</li>
    <li>(妄想中) ランキングのダウンロード機能</li>
    <li>(妄想中) レイド自動応答機能 (任意のチャットメッセージ+shoutoutコマンド等)</li>
  </ul>
</div>

{% endblock %}
