{% extends "ips_base.twig" %}

{% block head %}
{% endblock %}

{% block inner %}

<div class="ips__policy">
  <h2 class="ips__clear-top">プライバシーポリシー</h2>
  <h3 class="ips__policy-header">1. はじめに</h3>
  <p>
  </p>

  <h3 class="ips__policy-header">2. 収集する情報と利用目的</h3>
  <p>
  </p>

  <h3 class="ips__policy-header">3. 情報の共有と第三者提供</h3>
  <p>
  </p>

</div>

{% endblock %}
