{% extends "ips_base.twig" %}

{% block head %}
{% endblock %}

{% block inner %}

<div class="ips__policy">
  <h2 class="ips__clear-top">プライバシーポリシー</h2>
  <h3 class="ips__policy-header">1. はじめに</h3>
  <p>IPS Online(以下「本サービス」)は、サービスを提供するにあたり、直接の個人情報・個人関連情報は取り扱いませんが、それに準ずる情報を取り扱います。本プライバシーポリシーは、その取得、利用、管理、保護および第三者提供に関する方針を定めるものです。</p>

  <h3 class="ips__policy-header">2. 収集する情報と利用目的</h3>
  <p>本サービスではTwitch連携を利用するに際し必要となるアクセストークン、アクセストークンを取得するために必要となるリフレッシュトークン、およびTwitchから取得できる情報を取得します。
それらの情報は以下の目的でのみ利用します。
<ul>
  <li>本サービスの提供および運営</li>
  <li>サービスの改善（利用状況の分析、機能追加の検討）</li>
  <li>お問い合わせ対応およびサポート</li>
  <li>不正利用検知およびセキュリティ対策</li>
</ul>
  </p>

  <h3 class="ips__policy-header">3. 情報の共有と第三者提供</h3>
  <p>本サービスでは、取得した情報を利用者の同意なく第三者に提供することはありません。
ただし、法令に基づく裁判所・警察等からの正式な開示要請には対応いたします。</p>

</div>

{% endblock %}
