{% extends "ips_base.twig" %}

{% block head %}
{% endblock %}

{% block inner %}

<div class="ips__policy">
  <h2 class="ips__clear-top">プライバシーポリシー</h2>
  <h3 class="ips__policy-header">1. はじめに</h3>
  <p>IPS Online(以下「本サービス」)は、サービスを提供するにあたり、直接の個人情報・個人関連情報は取り扱いませんが、それに準ずる情報を取り扱います。本プライバシーポリシーは、その取得、利用、管理、保護および第三者提供に関する方針を定めるものです。</p>

  <h3 class="ips__policy-header">2. 収集する情報と利用目的</h3>
  <p>本サービスではTwitch連携を利用するに際し必要となるアクセストークン、アクセストークンを取得するために必要となるリフレッシュトークン、およびTwitchから取得できる情報を取得します。
それらの情報は以下の目的でのみ利用します。
<ul>
  <li>本サービスの提供および運営</li>
  <li>サービスの改善（利用状況の分析、機能追加の検討）</li>
  <li>お問い合わせ対応およびサポート</li>
  <li>不正利用検知およびセキュリティ対策</li>
</ul>
  </p>

  <h3 class="ips__policy-header">3. 情報の共有と第三者提供</h3>
  <p>本サービスでは、取得した情報を利用者の同意なく第三者に提供することはありません。<br>
ただし、法令に基づく裁判所・警察等からの正式な開示要請には対応いたします。</p>

  <h3 class="ips__policy-header">4. データの保管期間</h3>
  <p><ul>
    <li>アクセストークン・リフレッシュトークン: サービス提供上不要になり次第速やかに削除</li>
    <li>アクセストークン・リフレッシュトークン以外のTwitchから取得した情報: 本サービスの利用終了後1年以内に削除</li>
    <li>アクセスログ・アプリケーションログ：取得日から1年以内に削除</li>
  </ul></p>

  <h3 class="ips__policy-header">5. 安全管理措置</h3>
  <p>本サービスは、利用者情報の漏洩・毀損・紛失を防止するため、以下の措置を講じています。
  <ul>
    <li>TLS（SSL）による通信の暗号化</li>
    <li>データベースへのアクセス権限管理およびログ管理</li>
    <li>アクセスログの保護</li>
  </ul>
  ただし、いかなる対策も完璧であるものではなく、絶対的な安全を保証するものではありません。</p>

  <h3 class="ips__policy-header">6. プライバシーポリシーの改定</h3>
  <p>本プライバシーポリシーを改定する場合、改定日を明示のうえ改定日よりも10日以上前もって告知します。</p>

  <h3 class="ips__policy-header">7. お問い合わせ窓口</h3>
  <p><a href="https://x.com/ipsonline">https://x.com/ipsonline</a></p>

</div>

{% endblock %}
