{% extends "ips_base.twig" %}

{% block head %}
{% endblock %}

{% block inner %}

<div class="ips__setting">
  <h2 class="ips__clear-top">IPS 設定</h2>
  <p>
  設定を入力して保存ボタンを押してください
  </p>
  <div class="ips__setting-list">

    <table>
      <tr>
        <th></th>
        <td><input type="text" value="{{ setting.period }}"></td>
      </tr>
      <tr>
        <th></th>
        <td><input type="text" value="{{ setting.addition }}"></td>
      </tr>
      <tr>
        <th></th>
        <td><input type="text" value="{{ setting.command }}"></td>
      </tr>
      <tr>
        <th></th>
        <td><input type="text" value="{{ setting.name }}"></td>
      </tr>
    </table>
  </div>
</div>

{% endblock %}
