{% extends "ips_base.twig" %}

{% block head %}
{% endblock %}

{% block inner %}

<div class="ips__introduction">
  <h2 class="ips__clear-top">IPS Onlineとは</h2>
  <p>
 IPS OnlineとはTwitch配信者の配信PCローカルに一切のソフトウェアのインストール等の必要なく、利用登録と簡単な設定のみでリスナーへのインセンティブ付与サポートを行うことのできるサービスです。
  </p>
  <p><img src="/img/ips_introduction_1.jpg" width="48%" class="ips__img-zoom"> <img src="/img/ips_introduction_2.jpg" width="48%" class="ips__img-zoom"></p>

  <h2>IPS Onlineでできること</h2>
  <p>
 配信を盛り上げるお手伝いをしてくれるリスナーに対してポイントを付与することができます。<br>
 Twitch公式のチャンネルポイントとは以下の点において差別化しています。
  </p>
  <table class="ips__table">
    <tr>
      <th>項目</th>
      <th>IPS Online</th>
      <th>チャンネルポイント</th>
    </tr>
    <tr>
      <td>ベースとなるポイント</td>
      <td>チャットに参加すると貯まる<br>ROMっているだけ(寝落ちしているだけ)だと貯まらない</td>
      <td>視聴しているだけで貯まる<br>チャットに参加しても差はない</td>
    </tr>
    <tr>
      <td>サブスクライバー<br>ブースト</td>
      <td>Tierごとに自由に設定可能</td>
      <td>Tier1 1.2倍/Tier2 1.4倍/Tier3 2倍の固定</td>
    </tr>
    <tr>
      <td>cheerやサブスクギフト<br>ボーナス</td>
      <td>額や量に応じて任意のポイント付与可能<br>回数制限なし</td>
      <td>額や量に関わらず固定<br>月1回のみ</td>
    </tr>
    <tr>
      <td>レイドボーナス</td>
      <td>レイドをしてくれた人にポイント付与可能<br>レイドに乗ってきた人数に応じて設定可能</td>
      <td>なし</td>
    </tr>
  </table>
  <p>
 上記の比較表を見てもらうとわかるように、チャンネルポイントと比較して配信の盛り上げに貢献したリスナーに対してより重点的にインセンティブを付与することが可能な仕組みとなっています。
  </p>

  <h2>IPS Onlineでできないこと</h2>
  <p>
 チャンネルポイントと違い、貯まったポイントを消費してシステム的に何かを行うということはできません。ポイントを貯めたリスナーに対して実際にどのようなインセンティブを付与するかは配信者であるあなたが考え、手動で実施する必要があります。<br>
 あくまでも一例ですが、「VIPバッジを付与する」「お礼のイラストをプレゼントする」「Discordで特別なロールを与える」等が考えられるかもしれません。
  </p>

  <h2>利用開始方法</h2>
  <p>
  <a href="https://id.twitch.tv/oauth2/authorize?client_id=htukebwn7imooessy0j06vhjqyfc2v&redirect_uri=https://ips-online.link/&response_type=code&scope=channel:read:subscriptions%20chat:read%20chat:edit%20channel:read:redemptions&state=ips-online">こちらのリンク</a>からログインおよびIPS Onlineに対する認可を行ってください。<br>
 念の為、認可の画面では以下の画像の点に注意し、類似のもしくは悪意を持ったツールへの不正な誘導でないことをご確認ください。
  </p>
  <p><img src="/img/ips_authorization.png" width="275" height="480">
  </p>
  <p>
  登録が完了した後は、ご自身のチャンネルにおいて「ips_online」ユーザーに対してモデレーター権限を付与してください。<br>
  IPSのポイントの情報をチャット欄に流すために必要な権限となります。
  </p>
</div>

{% endblock %}
